

th{
    text-align: center;
}
.iconTabela{
    width: 50px;
    height: 40px;
}
.left{
    float: left;
}
.right{
    float: right;
}

.efeitoCor:hover{
    background-color: aliceblue;
}

/* Monitor */
@media screen and (max-width: 800px)  {
    .tabelaCell{
        display: none;
    }
}

/* Celular */
@media only screen and (max-device-width: 900px) {
    .acoes{
        display: none;
    }
}

