*{
    margin: 0;
}

.cabecalhoCarrossel{
    width: 100%;
    height: 600px;
    background-color: blanchedalmond;
    contain: table-row;
}

.carousel{
    height: 100%;
    contain: content;
}

.imgtamanho{
    height: 100%;
    width: 100%;
}

/* Menu de opções */
.cabecalho{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 255, 255, 0.103);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5005;
}
.caixalogo{
    width: 170px;
    height: 100%;
    
}
.logo{
    font-size: 40px;
    letter-spacing: 13px;
    color: aliceblue;    
    position:relative;
    left:7%;
    top:50%;
    transform: translate(-50%, -50%);
}