<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.senac.sp.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protected/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>br.senac.sp.servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutos</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.EditarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.VisualizarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtivarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.DesativarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarNome</servlet-name>
        <servlet-class>br.senac.sp.servlet.PesquisarNome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardsProdutos</servlet-name>
        <servlet-class>br.senac.sp.servlet.CardsProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.senac.sp.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.LoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>br.senac.sp.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarUsuario</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtivarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarUsuario</servlet-name>
        <servlet-class>br.senac.sp.servlet.DesativarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.EditarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>br.senac.sp.servlet.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.CarrinhoProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutos</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProduto</servlet-name>
        <url-pattern>/EditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarProduto</servlet-name>
        <url-pattern>/VisualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarProduto</servlet-name>
        <url-pattern>/AtivarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarProduto</servlet-name>
        <url-pattern>/DesativarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarNome</servlet-name>
        <url-pattern>/PesquisarNome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardsProdutos</servlet-name>
        <url-pattern>/CardsProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCliente</servlet-name>
        <url-pattern>/LoginCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarUsuario</servlet-name>
        <url-pattern>/AtivarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarUsuario</servlet-name>
        <url-pattern>/DesativarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCliente</servlet-name>
        <url-pattern>/EditarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoProduto</servlet-name>
        <url-pattern>/CarrinhoProduto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CardsProdutos</welcome-file>
    </welcome-file-list>
</web-app>
